<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Netflix Clone</title>
        <link  rel="stylesheet" href="/stylesheets/style-profile.css">
    </head>
    <body>
       <div class="container">

          <nav class="navbar">
            <a href="/"><img id="logo" width="150px" src="/images/Netflix_2015_logo.svg.png" alt="Netflix"></a>
            
          </nav>
          
          <div class="story-card">
                <h1 class="story-card-title">
                     Who's watching?
                </h1>
                
                <div class="story-card-images">
                    <ul class="choose-profiles">
                        <li> <div class="profiles"> <a href=""> <img src="/images/profileimg1.png" alt=""> </a><span>Drika</span></div></li>
                        <li> <div class="profiles"> <a href=""> <img src="/images/profileimg2.png" alt=""> </a><span>Lucas</span></div></li>  
                        <li> <div class="profiles"> <a href=""> <img src="/images/profileimg.png" alt=""> </a><span>Nick</span></div></li>
                        <li> <div class="profiles"> <a href=""> <img src="/images/profileimg4.png" alt=""> </a><span>Larissa</span></div></li>
                        <li> <div class="profiles"> <a href=""> <img src="/images/profileimg5.png" alt=""> </a><span>Infantil</span></div></li>
                    </ul>

                </div>

                <button id="btn-form">
                    Manage Profiles
                </button>
          </div>

       </div>
    </body>
</html>